<div>
    <table>
        <tr>
            <td>
                <img src="{{getACImage()}}" alt="">
            </td>
            <td>
                <img src="{{getCameraImage()}}" alt="">
            </td>
            <td>
                <img src="{{getJeansImage()}}" alt="">
            </td>
        </tr>
        <tr>
            <td>
                Daikins
            </td>
            <td>
                Philips
            </td>
            <td>
                Levis
            </td>
        </tr>
    </table>
</div>